*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: radial-gradient(wheat,black);
}

.wrapper {
    padding: 0px;
    margin: 0px;
    max-height: 500px;
    margin-top: 10px;
}

 .container-info .header {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 40%;
    margin: 5px auto;
    height: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px;
    margin-top: 10px;
    display: block;
}   


.memory-card {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: 60px auto;
    justify-content: center;
    perspective: 1000px;
}
.card {
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: calc(25% - 20px);
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.card i {
    font-size: 25px;
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}
.card.flip {
    transform: rotateY(180deg);
}
.back-face {
    display: flex;
    background: black;
    height: 130px;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    color: wheat;
    border-radius: 20px;
}
.front-face {
    display: flex;
    background: radial-gradient(wheat,black);
    height: 130px;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    border: none;
    border-radius: 20px;
}

@media (max-width:1200px){
    .memory-game {
        width: 50%;
    }
}
@media (max-width:1020px){
    .memory-game {
        width: 60%;
    }
    .text-header  {
        width: 90%;
    }
}
@media (max-width:700px){
    .memory-game {
        width: 90%;
    }
    .text-header  {
        width: 100%;
    }
}
@media (max-width:420px){
    .memory-game {
        width: 100%;
    }
    .text-header  {
        width: 100%;
    }
}
@media (max-width:375px){
    .memory-game {
        width: 100%;
    }
    .text-header  {
        width: 100%;
    }
}
